*.js linguist-language=java
*.css linguist-language=java
*.html linguist-language=java
# Eclipse
.project
.externalToolBuilders/
.metadata
.settings
*/target/*
.jar
.git
*/logs/*
*.class
.gitignore
*/.gitignore
.classpath
*/.classpath


